@font-face {
    font-family: 'Open Sans';
    src: local(''),
         url("fonts/Open_Sans/opensans-variablefont_wdthwght-webfont.woff2") format('woff2-variations'),
         url("fonts/Open_Sans/opensans-variablefont_wdthwght-webfont.woff") format('woff-variations');
    font-style: normal;
    font-weight: 400 700;
  }

  @font-face {
    font-family: 'Open Sans';
    src: local(''),
         url("fonts/Open_Sans/opensans-italic-variablefont_wdthwght-webfont.woff2") format('woff2-variations'),
         url("fonts/Open_Sans/opensans-italic-variablefont_wdthwght-webfont.woff") format('woff-variations');
    font-style: italic;
    font-weight: 400 700;
  }

  @font-face {
    font-family: 'Oswald';
    src: local(''),
         url("fonts/Oswald/oswald-variablefont_wght-webfont.woff2") format('woff2-variations'),
         url("fonts/Oswald/oswald-variablefont_wght-webfont.woff") format('woff-variations');
    font-style: normal;
    font-weight: 300 700;
  }